{% extends 'template.html' %}

{% block content %}
<br><br>

<div class="container">
    <h1 class="title">{{category}} List</h1>
    <div class="section">
    <div class="todolist">
 
        {% for item in items %}
        <form action="{{ url_for('delete') }}" method="POST">
            <div class="form-group">
            <div class="form-check">
                <input name="item-id" class="form-check-input" type="checkbox" value="{{ item.id }}" onChange="this.form.submit()">
                <label class="strikethrough" for="list-item">{{ item.item }}</label>
                <a class="edit" href="{{url_for('edit', id=item.id)}}">Edit</a>
            </div>
            </div>
        </form><hr>
        {% endfor %}

        <form action="{{ url_for('custom_list', category=category) }}" method="POST">
            <div class="form-group">
                <input class="form-control form-control-lg new-item" type="text" placeholder="New Item" name="newitem" autocomplete="off">
                <input type="hidden" name="category" value="{{category}}">
                <button type="submit" class="button">+</button>
            </div> 
        </form><hr>
    </div>
    </div>
</div>

{% endblock %}