{% extends 'template.html' %}

{% block content %}
<br><br>
<div class="container">
    <h1 class="title">To-Do List</h1>
    <div class="section">
    <div class="todolist">
 
        {% for item in items %}
        <form action="{{ url_for('delete') }}" method="POST">
            <div class="form-group">
            <div class="form-check">
                <input name="item-id" id="list-item" class="form-check-input" type="checkbox" value="{{ item.id }}" onChange="this.form.submit()">
                <label class="strikethrough" for="list-item">{{ item.item }}</label>
                <a class="edit" href="{{url_for('edit', id=item.id)}}">Edit</a>
            </div>
            </div>
        </form><hr>
        {% endfor %}

        <form action="" method="POST">
            <div class="form-group">
                <input class="new-item" type="text" placeholder="New Item" name="newitem">
                <button type="submit" class="button">+</button>
            </div> 
        </form><hr>
    </div>
    </div>
</div>
{% endblock %}