.title{
    margin: auto;
    text-align: center;
    max-width: 525px;
    background-color: brown;
    color: white;
}
.section{
    max-width: 525px;
    margin: 0 auto;
    background-color: antiquewhite;
    border-radius: 5px;
}
.todolist{
    padding-top: 25px;
    max-width: 500px;
    margin: 0 auto;
    background-color: antiquewhite;
}
input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
}
input[type=checkbox]{
    border-radius: 20px;
}

input[type=text]{
    background-color: transparent;
    text-align: center;
}
.new-item{
   width: 450px;
   height: 40px;
}
.button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
}
.edit{
    float: right;
    text-align: right;
}